VITE_GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
VITE_GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
VITE_GOOGLE_MAP_API_KEY=YOUR_GOOGLE_MAP_API_KEY
VITE_BASE_URL=YOUR_BASE_URL
VITE_HERE_API_KEY=YOUR_HERE_API_KEY